
.vs/DataExportTestingApplication/DesignTimeBuild/.dtbcache.v2
.vs/DataExportTestingApplication/FileContentIndex/3339948a-44e7-46ec-aae3-56a459020497.vsidx
.vs/DataExportTestingApplication/FileContentIndex/440f94eb-0b16-4c91-9c44-1f37d9f49121.vsidx
.vs/DataExportTestingApplication/FileContentIndex/6a1c7512-c2b4-4791-82d4-2f0181dc69a0.vsidx
.vs/DataExportTestingApplication/FileContentIndex/a1d0687a-719b-4057-8bb2-2a961a3a5365.vsidx
.vs/DataExportTestingApplication/FileContentIndex/f523492f-a642-43a8-8420-82d1090c0c1a.vsidx
.vs/DataExportTestingApplication/v17/.futdcache.v2
.vs/DataExportTestingApplication/v17/.suo
.vs/DataExportTestingApplication/v17/TestStore/0/000.testlog
.vs/DataExportTestingApplication/v17/TestStore/0/testlog.manifest
.vs/DataExportTestingApplication/v17/TestStore/OutputMessages/4967082f-e8c8-a2a6-e8c8-326a1df073a2/StandardOutput.txt
.vs/DataExportTestingApplication/v17/TestStore/OutputMessages/7a37e33a-d323-f76b-c7a0-20ee386193bb/StandardOutput.txt
.vs/DataExportTestingApplication/v17/TestStore/OutputMessages/8a5c0bed-afbe-37bf-9b00-5d1591269c30/StandardOutput.txt
.vs/DataExportTestingApplication/v17/TestStore/OutputMessages/ef7a28af-6ee5-a9c3-110b-cce2d59e019d/StandardOutput.txt
.vs/ProjectEvaluation/dataexporttestingapplication.metadata.v7.bin
.vs/ProjectEvaluation/dataexporttestingapplication.projects.v7.bin
.vs/DataExportTestingApplication/FileContentIndex/6b3d000a-55fb-4b5a-aac8-43ffb07092e0.vsidx
